extends ../../_includes/layout

block head
	title We Build Men: Build a Blog Like a Pro
	meta(property='og:title', content='We Build Men: Build a Blog Like a Pro')
	meta(property='og:description', content='Tools, hacks and tips that’ll get you live in an afternoon')
	meta(property='og:url', content='http://staging.webuildmen.org/toolkits/esquire/build-a-blog-like-a-pro.html')
	meta(property='og:image', content='http://staging.webuildmen.org/toolkits/esquire/screenshot.png')

block content
	section.single-project.js-set-height(style='padding-top:150px;background: url("/images/backgrounds/bg_esquire.jpg") no-repeat; background-size: auto 100%; background-position: top left;')
		.container

			.row
				.col-lg-4.col-md-4.column.title-block
					.big-intro.wow.fadeInLeft.animated.tools__title(data-wow-offset='50', data-wow-duration='1.5s', data-wow-delay='0.6s')
						.logo
							svg.tools__logo(style="width: 85px;height: 21px")
								use(xlink:href='#logo-esquire')
						div
							| Build a Blog Like a Pro

						.tools-groups
							.tools-group.tools-group__share
								//- span: svg.tools-icon.tools-icon__share(style="width: 20px; height: 20px;" title='Share'): use(xlink:href='#icon-share')
								span.tools-text Share
							//- span.tools-groups__break |
							//- .tools-group
							//- 	//- span: svg.tools-icon.tools-icon__download(style="width: 20px; height: 20px;" title='Download'): use(xlink:href='#icon-download')
							//- 	span.tools-text Download

						.tools__actions.js-is-hidden
							span Share this
							.social-icons.is-small
								i.st_facebook_custom(displayText='Facebook')
									svg
										use(xlink:href='#icon-facebook')
								i.st_twitter_custom(displayText='Twitter' st_title='We Build Men — Build a Blog Like a Pro'  st_url='http://webuildmen.org/' st_via='')
									svg
										use(xlink:href='#icon-twitter')
				//- COLUMN 2 - BRIEF ABOUT THE COMPANY
				.col-lg-6.col-md-7.column
					.tools.wow.fadeInRight.animated(data-wow-offset='50', data-wow-duration='1.5s', data-wow-delay='0.6s')
						.tools__scroll-container
							.tools__padding
								h4 Tools, hacks and tips that’ll get you live in an afternoon
								hr

								p
									| The key to making a blog is to first figure out a topic that the blog will be about. It could be a sport, or music, or comics—something that is specific, but also broad enough for them not run out of things to post about. You should talk through this beforehand and even try to set up a posting schedule, perhaps based on a calendar. For instance, if they want to blog about the NFL, maybe they should post at least once every Monday, after all the games happen. Or, if they want to blog about music, maybe a post every Wednesday, the day after most new albums come out. (An alternative option is they could post their own photographs or stories to the blog.)
								p
									| What will make the blog look great will be including at least one photo or video with every post. You'll probably have to show them how to find videos (on YouTube or Vimeo) and images (on Google Images, though depending on how old they are, maybe you can teach them about Creative Commons) and put them into a post. But you also don't want the blog to be a collection of videos or photos. You should tell them to try to write at least one paragraph for each post, too, explaining what it is about the thing they're posting that they like. You can always help them figure out what it is they like.
								p
									| On the technical side of things, you have a few options for where you build the blog. We've listed a few of your best options here, along with some tips to help with putting together the site, its design, and the first few posts:
								h3 Squarespace
								p
									em What you should know:
								p
									| Squarespace has the most intuitive and enjoyable designing. The slight problem is, you need to subscribe for anyone other than the people with the login to see the site; you can pay on a monthly basis ($10 month-to-month, or $96 for a full year). To see if that'll be worth it, you can perhaps set up a posting schedule with your mentee and see how they do over a week or so on their own. If they stick to it, then you can invest.
								p
									em Some tips:
								ul
									li There's an introductory video that explains a lot of the functionality.
									li
										| To change the design, they can just click on the eye icon (in the upper left). If they then hover over the page with the mouse, a black toolbar will appear in the lower right. They should click on the paintbrush and begin: drag sliders to change widths, and use all the options in the menu on the left to change colors, fonts, and other sizes.
									li
										| For simplicity's sake, in the content section (the one with an "a" as its icon) they should delete all of the pages aside from a blog and, if they want to make one, an "About" page in which they write something about who they are and what they want to do with the blog. To create a blog and delete the other pages,  click "Add Page" and then select "Blog" (also with an "a" as its icon), then drag that page to the very top of the "Main Navigation" section. After, hover over that new blog page in the list, click on the gear button, and then click on "Set Homepage." Once you've done that, you can delete all the other pages.
									li
										| To make a blog post, they should click on the blog page you made, then the big and grey plus sign. Add a title to the post, then start typing in the bigger section. If they want to add in a video or a photo, click on the sideways teardrop buttons that appear when you hover the mouse over the space. For a video, they should just copy-paste in a YouTube link. For a photo, have them save one to the desktop, then upload it. There are other methods, too. But those might be the easiest for someone new to the Internet to master.
								h3 WordPress
								p
									em What you should know:
								p
									| To get a free site, start at WordPress.com—not WordPress.org. For their purposes, there will probably be no need to upgrade—that is, unless they want to change the colors and the fonts, which will run $30. Because of that, as both of you go through the initial options, select one of the free templates that has a big image at the top of the page (something that you can customize for free) and neutral colors that will fit with almost anything; we recommend something like the "Hemmingway Unwritten" template, though they can change it at any time.
								p
									em Some tips:
								ul
									li
										| Everything that they'll want to do after the first prompts (which will have you pick a template and write a post) will be done in what's called the "Dashboard." To get there, they should click on the blog name in the upper-left corner. Blog posts are created in the "Posts" option (click "Add New"), and they can make (or delete) an "About" page in the "Pages" option.
									li
										| The simplest way to add a photo or a video while making a new post is to click on the "Add Media" button, then click the "Insert from URL" option. From there, they can copy-paste in an image link (by clicking all the way through on, say, Google Images) or a YouTube or Vimeo link. There are other ways to add photos that you and them can explore, but that'll be the easiest.
								h3 Tumblr
								p
									em What you should know:
								p
									| Tumblr is totally free (as long as you choose a design that doesn't cost anything), and there are an array of templates that look pretty good to start, though they're not quite as customizable as Squarespace or even WordPress. You should also be aware of the fact that Tumblr does host a fair amount of adult content. There are ways to restrict search results if you want, but you can also neglect to tell them about the sharing functions, since the goal will be for them to create all of their own content, instead of re-blogging.
								p
									em Some tips:
								ul
									li
										| To edit the design, they should click on "Customize" on the right. On the left side of the next page, they can go to "Browse themes" to look through a collection of different options. We recommend something like "Optica," which has a big space for an image at the top and then a straightforward space below for all of the posts.
									li
										| Posting is very straightforward: They can just click on the type of post they want to do (such as one that's comprised of just text, or a photo or video), and go from there. For all three of those options, they can add text; and in a text post, they can add a photo. But if they want to add video, they'll want to start from a video template and copy-paste in a YouTube link.
								p
									| Along the way, be sure to talk about what they’re posting. You can also work together to think up new ways to put together posts. Maybe, once they get a handle on the basic functions, they can start to build slideshows, or stories consisting of several photos, or a series that appears on a regular schedule and grows from there.
							.panel
								.logo
									svg.tools__logo(style="width: 160px; height: 40px")
										use(xlink:href='#logo-esquire')
											
								p Esquire is a men's magazine, published in the U.S. by the Hearst Corporation. Founded in 1932, it flourished during the Great Depression under the guidance of founders Arnold Gingrich, David A. Smart and Henry L. Jackson.
								p
									a.button--silent(href="http://esquire.com" target='_blank' alt='Esquire site' ) 
										| Go to Site
										span
											svg
												use(xlink:href='#icon-arrow')

	script
		:coffeescript
			html = document.getElementsByTagName('html')[0];
			html.setAttribute('id', 'project-page');