extends ../../_includes/layout
block head
	title We Build Men: Build a Meal Like a Chef
	meta(property='og:title', content='We Build Men and Elm: Build a Meal Like a Chef')
	meta(property='og:description', content='Shop, prep, and dish it up all in an evening')
	meta(property='og:url', content='http://staging.webuildmen.org/toolkits/chef-brian-lewis/cook-a-meal-like-a-chef.html')
	meta(property='og:image', content='http://staging.webuildmen.org/toolkits/chef-brian-lewis/background.jpg')

block content
	section.single-project.js-set-height(style='padding-top:150px;background: url("background.jpg") no-repeat; background-size: auto 100%; background-position: 50% left;')
		.container
			.row
				.col-lg-4.col-md-4.column.title-block
					.big-intro.wow.fadeInLeft.animated.tools__title(data-wow-offset='50', data-wow-duration='1.5s', data-wow-delay='0.6s')
						.logo
							svg.tools__logo(style="width: 35px;height: 40px")
								use(xlink:href='#logo-elm')
						div
							| Build a Meal Like a Chef
						.tools-groups
							.tools-group.tools-group__share
								//- span: svg.tools-icon.tools-icon__share(style="width: 20px; height: 20px;" title='Share'): use(xlink:href='#icon-share')
								span.tools-text Share
							//- span.tools-groups__break |
							//- .tools-group
							//- 	//- span: svg.tools-icon.tools-icon__download(style="width: 20px; height: 20px;" title='Download'): use(xlink:href='#icon-download')
							//- 	span.tools-text Download

						.tools__actions.js-is-hidden
							span Share this
							.social-icons.is-small
								i.st_facebook_custom(displayText='Facebook')
									svg
										use(xlink:href='#icon-facebook')
								i.st_twitter_custom(displayText='Twitter' st_title='We Build Men — Build a Meal Like a Chef'  st_url='http://webuildmen.org/' st_via='')
									svg
										use(xlink:href='#icon-twitter')
				.col-lg-6.col-md-7.column
					.tools.wow.fadeInRight.animated(data-wow-offset='50', data-wow-duration='1.5s', data-wow-delay='0.6s')
						.tools__scroll-container
							.tools__padding
								h4 Shop, prep, and dish it up all in an evening
								hr
								h3 Tips for Grocery Shopping and Cooking:
								p
									| Simply have fun! Cooking should be a joy, and turning your shopping list into a great excuse to spend some quality time exploring at your local farmer's market is always a nice place to start any meal. Try to look for ingredients and products that you have never had before. You can always Google the product to see how it's cooked or served.
								p
									| Use this recipe as a guideline, but also use your sense and freedom to experiment as a way to grow as a cook and possibly discover some new flavors. (Feel free to change up the mushrooms if you see something that interests you, or perhaps add a twist to the risotto with a different cheese that you find at the market.) Always think about trying something new. It can be a culinary adventure.
								h3 The Recipe:
								h4 Roast Chicken (serves two)
								p
									em Ingredients:
								ul
									li A three-and-a-half-pound chicken (preferably organic from your local farm)
									li 1 Tbsp. kosher salt
									li Freshly ground black pepper
									li 1 head garlic, split crosswise, unpeeled
									li 1 lemon, sliced in 4 pieces.
									li 8 sage leaves, whole
								p
									em Instructions:
								ol
									li
										| Remove chicken from the refrigerator one hour before cooking. Rinse the chicken lightly in cold water. Pat it dry with paper towels and place on a rack on a sheet tray.
									li Place the lemon pieces, garlic, and sage in the cavity of the chicken.
									li Place the wing bones under the chicken to properly prop up from the pan.
									li
										| Season the chicken liberally with freshly cracked black pepper and the kosher salt. Let the chicken rest.
									li Pre-heat oven to 500°F.
									li
										| Place the chicken in the oven for 20 minutes at 500°F, then lower the temperature to 325°F for an additional 20 minutes. Turn the oven off and let the chicken rest in the oven for 20 minutes more.
									li
										| Remove the chicken from the oven and carefully remove the garlic, lemon, and sage mixture from the cavity of the chicken.
									li
										| Transfer to a cutting board and carve into two breasts. Separate the thigh and drumstick, and place all on a serving platter.
									li
										| Drain all of the juices from the bottom of the pan through a fine strainer into a saucepan.
									li
										| Place the natural chicken juices over medium heat and reduce until you have reached your desired consistency.
									li
										| Do not remove any fat from the jus, as this will emulsify into your jus and create the luxurious and rich chicken flavor to accompany your risotto and chicken.
								h4 Butternut Squash Risotto (three parts; serves 4)
								h6 Butternut squash puree:
								p
									em Ingredients:
								ul
									li One small butternut squash
									li 1 tsp. extra virgin olive oil
									li Kosher salt, freshly grated black pepper, and freshly grated nutmeg to taste
									li 2 Tbsp. parmigiano reggiano
								p
									em Instructions:
								ol
									li
										| Pre-heat the oven to 350°F. Carefully split the butternut squash in half, lengthwise.
									li Using a small spoon, scrape away any seeds from the base of the squash.
									li
										| Brush the squash liberally with the olive oil, place skin-side-down in a baking dish, season with salt and cover tightly.
									li
										| Bake until very tender, about an hour and a half. Remove and let cool to room temperature.
										ol
											li
												| Scoop the squash meat from the skin and transfer to the bowl of a food processor. Pulse quickly to a coarse puree. Season with salt, black pepper, and nutmeg to taste, add the parmigiano and blend until smooth. Adjust seasonings to taste.
											li Keep refrigerated until ready to finish risotto.
								h6 Roasted Porcini Mushrooms:
								p
									em Ingredients:
								ul
									li 1 lb. fresh porcini mushrooms, trimmed and quartered
									li 8 sage leaves, finely chopped
									li 2 Tbsp. extra virgin olive oil
									li 1 Tbsp. unsalted butter
									li Kosher salt &amp; freshly ground black pepper, to taste
								p
									em Instructions:
								ol
									li
										| In a heavy bottom saute pan, heat the olive oil over medium heat. Add the mushrooms and season with a touch of salt, cooking gently until all of the moisture has evaporated and they begin to brown (about eight to ten minutes).
									li
										| Add the butter and sage, combing with the mushrooms and cooking until the butter lightly brown and the sage has browned.
									li Adjust the seasoning with salt and freshly ground black pepper to taste.
									li Keep warm until ready to add to the risotto.
								h6 Risotto base:
								p
									em Ingredients:
								ul
									li 2 Tbsp. extra virgin olive oil
									li 4 Tbsp. minced spanish onion
									li 1 cup carnaroli rice
									li 1 cup dry white wine
									li 4 cups chicken or vegetable stock
									li Kosher salt, to taste
									li 3 Tbsp. unsalted butter
									li 1 cup butternut squash puree (recipe below)
								p
									em Instructions:
								ol
									li
										| Heat the olive oil in a heavy bottom sauté pan over medium heat. Add the onions and season with salt. Cook until soft and translucent (about three to four minutes).
									li
										| Add the rice and stir together with the onions for two minutes. Season with salt to taste.
									li
										| Add the white wine and let simmer and absorb fully into the rice, not stirring at this point, for three to four minutes. Once the wine has been absorbed and the alcohol evaporated, the rice will begin to toast and take on a nutty aroma.
									li
										| Begin to add the chicken stock at this point, one cup at a time, stirring with a wooden spoon preferably.
									li
										| Stir constantly, allowing the rice to give off it’s creamy starch and create a delicate creamy broth with the stock.
									li
										| Continue to cook and stir the risotto until all of the stock has been absorbed by the rice. At this point, remove the pan from the heat and add the cold butter, stirring it into the rice quickly, allowing the butter to emulsify with the rice.
									li
										| Finish the risotto by adding one cup of the butternut squash puree, a 1/2-cup of parmesan cheese, and the cooked porcini mushrooms.
									li Serve with a side of freshly grated parmesan cheese.
								h3 Grocery List:
								ul
									li 1 three-and-a-half-pound organic chicken
									li 1 head garlic
									li 1 small bunch fresh sage
									li 1 box kosher salt
									li Freshly black pepper, to grind
									li 1 spanish onion
									li 1 box carnaroli rice (risotto)
									li Dry white wine
									li 1 medium butternut squash
									li 1/4 lb. parmigiano reggiano
									li 1 whole nutmeg
									li Extra virgin olive oil
									li 1 lb. fresh porcini mushrooms (can substitute with chanterelles )
									li Unsalted butter
									li 1 quart chicken stock
									li Anything else that looks like it might make this recipe taste even better.
							.panel
								.logo
									svg.tools__logo(style="width: 40px; height: 40px")
										use(xlink:href='#logo-elm')
											
								p Popular Mechanics is a classic magazine of popular technology. First published January 11, 1902, by H. H. Windsor, it has been owned since 1958 by the Hearst Corporation.
								p
									a.button--silent(href="#" target='_blank') 
										| Go to Site
										span
											svg
												use(xlink:href='#icon-arrow')

	script
		:coffeescript
			html = document.getElementsByTagName('html')[0];
			html.setAttribute('id', 'project-page');